<a href="https://colab.research.google.com/github/veerakumari810/KHUB-2025-TASKS/blob/main/K_HUB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

03/08/25

print first and last character of a string

In [ ]:
text="python"
print("frist letter",text[0])
print("last number",text [5])

frist letter p
last number n

count the number of strings in character

In [ ]:
text=("veerakumari")
print(len(text))

11

convert a string to uppercase

In [ ]:
a="PYTHON"
print(a.lower())

python

add two strings

In [ ]:
text1="veera"
text2="kumari"
result=text1+text2
print(result)

veerakumari

capitalize only first lettr upper case

In [ ]:
txt = "veera kumari"
a = txt.capitalize()
print (a)

Veera kumari

caseflod all string letter are samll

In [ ]:
txt = "VEERA KUMARI"
x = txt.casefold()
print(x)

veera kumari

center return a centered string

In [ ]:
txt = "banana"
x = txt.center(30)
print(x)

            banana

count returns the number of times a specified values in a string

In [ ]:
txt = "I love apples,apple, apple are my favorite fruit"
x = txt.count("apple")
print(x)

3

endswitch

In [ ]:
txt = "veera kumari"
x = txt.endswith("i")
print(x)

True

expandtabs

In [ ]:
txt = "v\te\te\tr\ta\tk\tu\tm\ta\tr\ti"
x =  txt.expandtabs(2)
print(x)

v e e r a k u m a r i

find()

In [ ]:
txt = "veera kumari"
x = txt.find("k")
print(x)

6

format()

In [ ]:
txt = "For only {price} dollars!"
print(txt.format(price = 49))

For only 49 dollars

Boolean

In [2]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

greater or not

In [4]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

Arithmetic operations

In [10]:
a=4
b=2
c=a+b
print(c)

c=a-b
print(c)

c=a*b
print(c)

c=a/b
print(c)

c=a%b
print(c)

c=a**b
print(c)

c=a//b
print(c)

6
2
8
2.0
0
16
2

comparision and relational operations

In [12]:
x=5
y=8
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

False
True
False
True
False
True

Assigenment operations

In [22]:
x=5
x+=2
print(x)
x-=1
print(x)
x*=3
print(x)
x/=2
print(2)

7
6
18
2

logical operators

In [40]:
x = 10
y = 5

if x > 5 and y < 10:
    print("both conditions are true")

x = 10

both conditions are true

bitwise operators