<a href="https://colab.research.google.com/github/veerakumari810/KHUB-2025-TASKS/blob/main/K_HUB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

03/08/25

print first and last character of a string

In [ ]:
text="python"
print("frist letter",text[0])
print("last number",text [5])

frist letter p
last number n

count the number of strings in character

In [ ]:
text=("veerakumari")
print(len(text))

11

convert a string to uppercase

In [ ]:
a="PYTHON"
print(a.lower())

python

add two strings

In [ ]:
text1="veera"
text2="kumari"
result=text1+text2
print(result)

veerakumari

capitalize only first lettr upper case

In [ ]:
txt = "veera kumari"
a = txt.capitalize()
print (a)

Veera kumari

caseflod all string letter are samll

In [ ]:
txt = "VEERA KUMARI"
x = txt.casefold()
print(x)

veera kumari

center return a centered string

In [ ]:
txt = "banana"
x = txt.center(30)
print(x)

            banana

count returns the number of times a specified values in a string

In [ ]:
txt = "I love apples,apple, apple are my favorite fruit"
x = txt.count("apple")
print(x)

3

endswitch

In [ ]:
txt = "veera kumari"
x = txt.endswith("i")
print(x)

True

expandtabs

In [ ]:
txt = "v\te\te\tr\ta\tk\tu\tm\ta\tr\ti"
x =  txt.expandtabs(2)
print(x)

v e e r a k u m a r i

find()

In [ ]:
txt = "veera kumari"
x = txt.find("k")
print(x)

6

format()

In [ ]:
txt = "For only {price} dollars!"
print(txt.format(price = 49))

For only 49 dollars

Boolean

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

greater or not

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

Arithmetic operations

In [ ]:
a=4
b=2
c=a+b
print(c)

c=a-b
print(c)

c=a*b
print(c)

c=a/b
print(c)

c=a%b
print(c)

c=a**b
print(c)

c=a//b
print(c)

6
2
8
2.0
0
16
2

comparision and relational operations

In [ ]:
x=5
y=8
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

False
True
False
True
False
True

Assigenment operations

In [ ]:
x=5
x+=2
print(x)
x-=1
print(x)
x*=3
print(x)
x/=2
print(2)

7
6
18
2

logical operators

In [ ]:
x = 10
y = 5

if x > 5 and y < 10:
    print("both conditions are true")

x = 10

both conditions are true

bitwise operators

In [ ]:
x=5
y=3

x=(x&y)
print(x)
x=(x|y)
print(x)
x=(x^y)
print(x)

1
3
0

identity operators

In [ ]:
a=[1,2]
b=a
c=[1,2]
print(a is b)
print(a is c)
print(a is not c)

True
False
True

lists

In [ ]:
friuts=["apple","banana","cherry"]
print(friuts[0])
friuts[1]="banana"
print(friuts)
print(len(friuts))
friuts.append("orange")
print(friuts)

apple
['apple', 'banana', 'cherry']
3
['apple', 'banana', 'cherry', 'orange']

common tuples

In [ ]:
colors=("red","green","blue")
n=colors.count("green")
print(n)
n=colors.index("blue")
print(n)

1
2

sets

In [ ]:
numbers={1,2,3,4,5}
print(numbers)
numbers.add(6)
print(numbers)
numbers.remove(2)
print(numbers)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 3, 4, 5, 6}

# 04/08/25

loops

print 1 to 10 numbers

In [ ]:

i=1
while i <=10:
 print(i)
 i+=1

1
2
3
4
5
6
7
8
9
10

reverse print 10 to 1

In [ ]:
i=10
while i >=1:
  print(i)
  i-=1

10
9
8
7
6
5
4
3
2
1

print even numbers 1 to 20

In [ ]:

i=2
while i < 20:
  print(i)
  i+=2

2
4
6
8
10
12
14
16
18

print odd number 1 to 30

In [ ]:

i=1
while i < 20:
  print(i)
  i+=2

1
3
5
7
9
11
13
15
17
19

sum of natural numbers N=10

In [ ]:

n=10
i=1
total=0
while i<=n:
  total+=i
  i+=1
  print(total)

1
3
6
10
15
21
28
36
45
55

multiplication table of a number

In [ ]:
num=10
i=1
while i<=5:
  print(num,"*",i,"=",num*i)
  i+=1

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50

reverse a number

In [ ]:
num=1234
rev=0
while num >0:
  rev=rev*10+num%10
  num=num//10
print(rev)

4321

Count digits in a number

In [ ]:
num = 7865
count = 0
while num > 0:
    num = num // 10
    count += 1
print( count)

4

Check palindrome number

In [11]:
num = 121
temp = num
rev = 0
while num > 0:
    rev = rev * 10 + num % 10
    num = num // 10
if temp == rev:
    print("Palindrome")
else:
    print("Not Palindrome")

Palindrome

Sum of digits

In [13]:
num = 1234
total = 0
while num > 0:
    total += num % 10
    num = num // 10
print( total)

10

Factorial of a number

In [15]:
n = 5
fact = 1
i = 1
while i <= n:
    fact *= i
    i += 1
print( fact)

120

. Pattern Printing

In [16]:
i = 1
while i <= 5:
    print("*" * i)
    i += 1

*
**
***
****
*****

Print each fruit in a fruit list:

## **For** loop

In [17]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

Print numbers 1 to 5

In [18]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

Print characters in a string

In [19]:
for ch in "hello":
    print(ch)

h
e
l
l
o