<a href="https://colab.research.google.com/github/veerakumari810/KHUB-2025-TASKS/blob/main/K_HUB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

03/08/25

print first and last character of a string

In [ ]:
text="python"
print("frist letter",text[0])
print("last number",text [5])

frist letter p
last number n

count the number of strings in character

In [ ]:
text=("veerakumari")
print(len(text))

11

convert a string to uppercase

In [ ]:
a="PYTHON"
print(a.lower())

python

add two strings

In [ ]:
text1="veera"
text2="kumari"
result=text1+text2
print(result)

veerakumari

capitalize only first lettr upper case

In [ ]:
txt = "veera kumari"
a = txt.capitalize()
print (a)

Veera kumari

caseflod all string letter are samll

In [ ]:
txt = "VEERA KUMARI"
x = txt.casefold()
print(x)

veera kumari

center return a centered string

In [ ]:
txt = "banana"
x = txt.center(30)
print(x)

            banana

count returns the number of times a specified values in a string

In [ ]:
txt = "I love apples,apple, apple are my favorite fruit"
x = txt.count("apple")
print(x)

3

endswitch

In [ ]:
txt = "veera kumari"
x = txt.endswith("i")
print(x)

True

expandtabs

In [ ]:
txt = "v\te\te\tr\ta\tk\tu\tm\ta\tr\ti"
x =  txt.expandtabs(2)
print(x)

v e e r a k u m a r i

find()

In [ ]:
txt = "veera kumari"
x = txt.find("k")
print(x)

6

format()

In [ ]:
txt = "For only {price} dollars!"
print(txt.format(price = 49))

For only 49 dollars

Boolean

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

greater or not

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

Arithmetic operations

In [ ]:
a=4
b=2
c=a+b
print(c)

c=a-b
print(c)

c=a*b
print(c)

c=a/b
print(c)

c=a%b
print(c)

c=a**b
print(c)

c=a//b
print(c)

6
2
8
2.0
0
16
2

comparision and relational operations

In [ ]:
x=5
y=8
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

False
True
False
True
False
True

Assigenment operations

In [ ]:
x=5
x+=2
print(x)
x-=1
print(x)
x*=3
print(x)
x/=2
print(2)

7
6
18
2

logical operators

In [ ]:
x = 10
y = 5

if x > 5 and y < 10:
    print("both conditions are true")

x = 10

both conditions are true

bitwise operators

In [ ]:
x=5
y=3

x=(x&y)
print(x)
x=(x|y)
print(x)
x=(x^y)
print(x)

1
3
0

identity operators

In [ ]:
a=[1,2]
b=a
c=[1,2]
print(a is b)
print(a is c)
print(a is not c)

True
False
True

lists

In [ ]:
friuts=["apple","banana","cherry"]
print(friuts[0])
friuts[1]="banana"
print(friuts)
print(len(friuts))
friuts.append("orange")
print(friuts)

apple
['apple', 'banana', 'cherry']
3
['apple', 'banana', 'cherry', 'orange']

common tuples

In [ ]:
colors=("red","green","blue")
n=colors.count("green")
print(n)
n=colors.index("blue")
print(n)

1
2

sets

In [ ]:
numbers={1,2,3,4,5}
print(numbers)
numbers.add(6)
print(numbers)
numbers.remove(2)
print(numbers)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 3, 4, 5, 6}

# 04/08/25

loops

print 1 to 10 numbers

In [ ]:

i=1
while i <=10:
 print(i)
 i+=1

1
2
3
4
5
6
7
8
9
10

reverse print 10 to 1

In [ ]:
i=10
while i >=1:
  print(i)
  i-=1

10
9
8
7
6
5
4
3
2
1

print even numbers 1 to 20

In [ ]:

i=2
while i < 20:
  print(i)
  i+=2

2
4
6
8
10
12
14
16
18

print odd number 1 to 30

In [ ]:

i=1
while i < 20:
  print(i)
  i+=2

1
3
5
7
9
11
13
15
17
19

sum of natural numbers N=10

In [ ]:

n=10
i=1
total=0
while i<=n:
  total+=i
  i+=1
  print(total)

1
3
6
10
15
21
28
36
45
55

multiplication table of a number

In [ ]:
num=10
i=1
while i<=5:
  print(num,"*",i,"=",num*i)
  i+=1

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50

reverse a number

In [ ]:
num=1234
rev=0
while num >0:
  rev=rev*10+num%10
  num=num//10
print(rev)

4321

Count digits in a number

In [ ]:
num = 7865
count = 0
while num > 0:
    num = num // 10
    count += 1
print( count)

4

Check palindrome number

In [ ]:
num = 121
temp = num
rev = 0
while num > 0:
    rev = rev * 10 + num % 10
    num = num // 10
if temp == rev:
    print("Palindrome")
else:
    print("Not Palindrome")

Palindrome

Sum of digits

In [ ]:
num = 1234
total = 0
while num > 0:
    total += num % 10
    num = num // 10
print( total)

10

Factorial of a number

In [ ]:
n = 5
fact = 1
i = 1
while i <= n:
    fact *= i
    i += 1
print( fact)

120

. Pattern Printing

In [ ]:
i = 1
while i <= 5:
    print("*" * i)
    i += 1

*
**
***
****
*****

Print each fruit in a fruit list:

## **For** loop

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

Print numbers 1 to 5

In [ ]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

Print characters in a string

In [ ]:
for ch in "hello":
    print(ch)

h
e
l
l
o

Sum of first 10 numbers

In [ ]:
total = 0
for i in range(1, 11):
    total += i
print(total)

55

Print even numbers from 1 to 20

In [ ]:
for i in range(1, 21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

Print multiplication table of a number

In [ ]:
num = 5
for i in range(1, 11):
    print(f"{num} x {i} = {num*i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Factorial of a number

In [ ]:
num = 5
fact = 1
for i in range(1, num + 1):
    fact *= i
print( fact)

120

Reverse a string

In [ ]:
s = "python"
rev = ""
for ch in s:
    rev = ch + rev
print("Reversed:", rev)

Reversed: nohtyp

Nested loop

In [ ]:
for i in range(1, 6):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****

#05/08/2025

String in python

In [ ]:
for x in ("Veera kumari"):
   print(x)

V
e
e
r
a

k
u
m
a
r
i

Index with tuple items print

In [ ]:
fruits=("apples","banana","cherry")
for i in range(len(fruits)):
    print("index:",i, "value:",fruits[i])

index: 0 value: apples
index: 1 value: banana
index: 2 value: cherry

Even numbers filter

In [ ]:
numbers=(10,20,35,34,57)
for n in numbers:
 if n%2==0:
  print("even",n)

even 10
even 20
even 34

Nested loop

In [ ]:
for i in range(1,4):
    for j in range(1,3):
        print(f"i={i},fj={j}")

i=1,fj=1
i=1,fj=2
i=2,fj=1
i=2,fj=2
i=3,fj=1
i=3,fj=2

Number Pattern Triangle

In [ ]:
for i in range(1, 6):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Reverse Number Triangle

In [ ]:
for i in range(5, 0, -1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

Functions

In [ ]:
def my_function():
   print("Veera kumari")
my_function()

Veera kumari

In [ ]:
for i in range (1,6):

   print(i)

1
2
3
4
5

In [ ]:
for i in "Veera kumari":
    print(i)

V
e
e
r
a

k
u
m
a
r
i

In [ ]:
fruits=("apples","banana","cherry")
for fruits  in fruits :
    print(fruits)

apples
banana
cherry

In [ ]:
for i in range(10,18,3):
     print(i)

10
13
16

In [3]:
def my_function(fname):
   print(fname+ " Achanta")
my_function("veera kumari")
my_function("swamy")
my_function("varalakshmi")

veera kumari Achanta
swamy Achanta
varalakshmi Achanta

add two numbers

In [26]:
def add(a, b):
    return a + b

print(add(3,5))

8

Check Even or Odd

In [9]:
def is_even(n):
    return n % 2 == 0

print(is_even(4))

True

factorial

In [6]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)

print(factorial(5))

120

reverse string

In [7]:
def reverse_string(s):
    return s[::-1]

print(reverse_string("hello"))

olleh

In [14]:
def add():
  a=5
  b=10
  print(a+b)
add()

def add(a,b):
  print(a+b)
a=int(input("enter a value"))
b=int(input("enter b value"))
add(a,b)

15
enter a value5
enter b value6
11

In [16]:
def add(a,b):
  print(a+b)
x=int(input("enter x value"))
y=int(input("enter y value"))
add(x,y)

enter a value5
enter b value8
13

In [22]:
def add(a,b):
  print(a)
  print(b)
x=10
y=20
add(y,x)
add(x,y)
add(x+y)
add(y+x)
add(x,y)

20
10
10
20

TypeError: add() missing 1 required positional argument: 'b'

In [23]:
c=500
def add(c,d):
  print(c)
  print(d)
add(x,y)
add(y,x)
print(c)

10
20
20
10
500

In [57]:
def add(a,b):
  print(a)
  print(b)
x=10
y=20
add(y,x)
add(x,y)
add(a=y,b=x)

20
10
10
20
20
10

In [31]:
def add(a, b):
    return a + b

print(add(5,6))

11

In [32]:
def add(a, b):
    return a + b
x=add(5,6)
print(x+30)

41

In [60]:
def add(a,b):
  return a+b
def sub(a,b):
  return(a-b)
def multiple(a,b):
  return(a*b)
def div(a,b):
  return(a/b)
def cal(a,b,opp):
  if opp==1:
     return add(a,b)
  elif opp==2:
     return sub(a,b)
  elif opp==3:
     return multiple(a,b)
  elif opp==4:
     return div(a,b)
  else:
      return 'wrong operator'
x=int(input("enter x value"))
y=int(input("enter y value"))
print("enter 1 to add \n enter 2 to sun  \n enter 3 to multiple \n enter 4 to division")
z=int(input("enter operator"))
r=cal(x,y,z)
print(r)

enter x value4
enter y value3
enter 1 to add
 enter 2 to sun
 enter 3 to multiple
 enter 4 to division
enter operator3
12

In [77]:
def my_function(opp):
  if opp==1:
     return "expresso"
  elif opp==2:
     return "latte"
  elif opp==3:
     return "cappuccion"
  elif opp==4:
     return "macchiato"
  else:
      return 'not available'
print("enter 1 to expresso \n enter 2 to latte \n enter 3 to cappuccion \n enter 4 to macchiato")
z=int(input("enter operator"))
r=my_function(z)
print(r)

enter 1 to expresso
 enter 2 to latte
 enter 3 to cappuccion
 enter 4 to macchiato
enter operator2
latte

In [123]:
def is_on (opp):
   if opp==1:
     print ("start")
   elif opp==2:
     print ("stop")
   elif opp==3:
    print("no output")
z=int(input("enter operator"))
is_on(z)

r=my_function(c)

enter operator1
start